@use 'kit/mixins' as *;

@media (max-width: 480px) {
    .headline {
        .section_header {
            .headline_h2 {
                max-width: 350px;
                font-size: 43px;
                color: #4e494a;
                padding: 100px 0 105px 0;
            }
        }

        .section_content {
            grid-template-columns: 1fr;
            padding: 30px 20px;
            gap: 40px;
            color: #000000;
            z-index: 1;
        }
    }

    .btn {
        margin: 100px auto 91px;
    }

    .right_flower,
    .left_flower {
        display: none;
    }

    .headline_left_flower {
        display: flex;
        position: absolute;
        opacity: 30%;
        width: 130px;
        height: 270px;
        transform: rotate(210deg) scaleY(-1);
        top: 170px;
        left: -40px;
        z-index: 0;
    }

    .headline_right_flower {
        display: flex;
        position: absolute;
        width: 240px;
        height: 320px;
        bottom: -40px;
        right: -50px;
        transform: rotate(-40deg);
        z-index: 0;
    }
}
