@media (max-width: 480px) {
    .video_highlight {
        .video_h2 {
            font-size: 60px;
        }

        .video_btn {
            width: 140px;
            height: 140px;

            .play_btn {
                font-size: 60px;
            }
        }

        p {
            max-width: 400px;
        }
    }
}
